{% extends 'base.html.twig' %}

{% block body %}
	<div class="row topo">
        <div class="col-md-12">
            <img src="img/logo.png" onclick="irParaHome();" class="img-responsive" alt="Ache tudo!">
        </div>
    </div>

    <div class="row form-login">
    	<div class="col-md-6 col-md-offset-3">
            <form id="form" name="form" class="form-horizontal" action="/admin/login" method="post">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="usuario" placeholder="Usuário" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="senha" placeholder="Senha" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" c
                        lass="btn btn-primary">Entrar</button>
                    </div>
                </div>
        	</form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 rodape">
            <img src="img/logo2.png" alt="Ache tudo!">
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .topo {
            padding-top: 2.5rem !important;
            padding-bottom: 2.5rem !important;
            height: 200px !important;
        	text-align: center;
        }

        .topo img {
            cursor: pointer;
            margin-right: auto;
            margin-left: auto;
        }

        .rodape, .form-login {
            text-align: center;
        }

        .form-login {
        	padding-bottom: 2.5rem !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form").validate({
                rules: {
                    usuario: {
                        required: true
                    },
                    senha: {
                        required: true
                    }
                }
            });
        });

        function irParaHome() {
            window.location.href = "/";
        }
    </script>
{% endblock %}
